body {
}
.container-fluid {
  background-color: #0d0a57;
  padding: 3rem 0 20rem 0;
  font-family: "Goldman", cursive;
}

.outer-box {
}

.inner-box {
}

.title {
  margin-bottom: 0.1rem;
  p {
    color: white;
    text-align: center;
    font-weight: 700;
    font-size: 60px;
  }
}

.button-container {
  margin-top: 2rem;
display: flex;
justify-content: center;
button {
  color: white;
  background-color: transparent;
  border: solid 2px white;
  border-radius: 80px;
  padding: 0.3rem 4rem;
  outline: 0 !important;

}
button:hover {
  background-color:#383683;
  }
}

%block {
  height: 150px;
  width: 200px;
  transition: 0.5s;
  cursor: pointer;
}

%block-on {
  transition: 0.5s;
  box-shadow: 5px 5px 30px 5px #e8e8e8;
}
.blue {
  border-top-left-radius: 50px;
  background-color: blue;
  @extend %block;
}
.red {
  border-top-right-radius: 50px;
  @extend %block;
  background-color: red;
}
.green {
  border-bottom-left-radius: 50px;
  @extend %block;
  background-color: green;
}
.yellow {
  border-bottom-right-radius: 50px;
  @extend %block;
  background-color: yellow;
}

.fancyBlue {
  @extend %block-on;
  background-color: lighten($color: blue, $amount: 20%);
}

.fancyRed {
  @extend %block-on;
  background-color: lighten($color: red, $amount: 20%);
}

.fancyGreen {
  @extend %block-on;
  background-color: lighten($color: green, $amount: 20%);
}

.fancyYellow {
  @extend %block-on;
  background-color: lighten($color: yellow, $amount: 20%);
}
